body {
  background-color: #3333;
    color: #ddddddd;
    font-family: Times New Roman, Georgia, sans-serif;
    margin: 10% 10%
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
 background: rgba(0, 1, 0, 0.3) /* Green background with 30% opacity */
}

body{
  background-color: Green;
}

.header{
  text-align: center;
  color: black;
  text: bold;
}
