body {
  background-color: #3333;
    color: #ddddd;
    font-family: Times New Roman, Georgia, sans-serif;
    margin: 10% 10%
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px outset ;
  border-bottom: 1px dotted ;
background-color: rgba(85, 107, 47)
}

body{
  background-color: Green;
}
a {
  color:Yellow;
}

.header{
  text-align: center;
  color: Black;
  text: bold;
}
